<h3>Settings</h3>
<table class="table table-striped">
  <tbody>
    <tr>
      <td>Status</td>
      <td><%= status ? 'Letting people in' : 'Not letting people in' %></td>
    </tr>
    <tr>
      <td>Forward Number</td>
      <td><%= process.env.AFTER_HOURS_NUMBER || 'No number set, playing message and hanging up.' %></td>
    </tr>
    <tr>
      <td>gCal ID</td>
      <td><%= process.env.GCAL_ID || 'Defaulting to using override mode only' %></td>
    </tr>
    <tr>
      <td>Timezone I think I am using</td>
      <td><%= tz %></td>
    </tr>
    <tr>
      <td>Override Answer</td>
      <td><%= process.env.OVERRIDE %></td>
      <td>
        <form method="post">
          <input type="submit" name="override" value="Toggle" class="btn btn-default"/>
        </form>
      </td>
    </tr>
  </tbody>
</table>

<h3>Stats</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Stat</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Calls Recieved</td>
      <td><%= stats.get('calls_count') %></td>
    </tr>
    <tr>
      <td>Doors Opened</td>
      <td><%= stats.get('door_buzz_count') %></td>
    </tr>
    <tr>
      <td>Calls Forwarded</td>
      <td><%= stats.get('call_forward_count') %></td>
    </tr>
    <tr>
      <td>iCal File Loads</td>
      <td><%= stats.get('gcal_update_count') %></td>
    </tr>
  </tbody>
</table>

<form action="/refresh" method="post">
  <button class="btn btn-default">Refresh</button>
</form>
